# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_TELEMETRY_DISABLED=true

# Turso
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Voyage
VOYAGE_API_KEY=

# Cerebras
CEREBRAS_API_KEY=

# Nevermined
NEVERMINED_API_KEY=
NEXT_PUBLIC_NEVERMINED_ENV=staging
NEXT_PUBLIC_PAYMENT_TOKEN_ADDRESS=
NEXT_PUBLIC_AUTH_TOKEN=
NEXT_PUBLIC_AGENT_DID=

# Flock
FLOCK_BOT_API_KEY=
FLOCK_BOT_ENDPOINT=

# Functor
FUNCTOR_API_KEY=

# Agiverse
AGIVERSE_API_KEY=
AGIVERSE_BUILDING_ID=

# OpenAI
OPENAI_API_KEY=

# Lit
AGENT_PRIVATE_KEY=
RPC_URL=

# CDP
CDP_API_KEY_NAME=
CDP_API_KEY_PRIVATE_KEY=
NETWORK_ID=

# OpenRouter
OPENROUTER_API_KEY=
OPENROUTER_REFERRER=
OPENROUTER_TITLE=

# TogetherAI
TOGETHER_API_KEY=

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# Braintrust
BRAINTRUST_API_KEY=

# Fal.ai
FAL_KEY=
